.App {
  display: flex;
  flex-direction: column;
  background-color: #20201d;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.options {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  width: 70%;
}
.options > button {
  line-height: 3rem;
  font-size: 1.7rem;
  padding: 20px;
}
.array-box {
  height: 900;
}
.bar {
  width: 8px;
  background-color: #fded2a;
  display: inline-block;
  margin: 0 1px;
}
